[package]
name = "cli-image-converter"
version = "0.1.0"
edition = "2021"
description = "Convert an image to a favicon with the size 64x64"

# See more keys and their definitions at 
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.21", features = ["derive"] }
image = { version = "0.25.5" }

[dev-dependencies]
tempfile = "3.14.0"

# https://github.com/burtonageo/cargo-bundle
[package.metadata.bundle]
name = "Convert image to icon"
identifier = "fi.paazmaya.cli-image-converter"
description = "Convert an image to a favicon with the size 64x64"
icon = ["./icon.png"]
