# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Rust CI

on: [push, pull_request]

jobs:
  testing:
    # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout code
        # https://github.com/actions/checkout
        uses: actions/checkout@v5
        with:
          lfs: true
      
      - name: Pull LFS data
        # Checkout will only fetch the data but will not expand the files
        run: git lfs pull

      - name: Use stable Rust
        # Ensure that the following steps are using the stable toolchain
        run: rustup default stable
        
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-testing-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-testing-cargo-

      - name: Install clippy
        run: rustup component add clippy
        
      - name: Cache clippy results
        uses: actions/cache@v4
        with:
          path: ~/.cargo/.clippy_cache
          key: ${{ runner.os }}-clippy-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-clippy-

      - name: Run clippy
        # https://github.com/rust-lang/rust-clippy
        run: cargo clippy -- -D warnings

      - name: Build binary for tests
        run: cargo build

      - name: Run unit and doc tests
        run: cargo test

      - name: Cache cargo-fuzz
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/cargo-fuzz
          key: ${{ runner.os }}-cargo-fuzz
          
      - name: Run fuzz tests
        run: |
          if ! [ -f ~/.cargo/bin/cargo-fuzz ]; then
            cargo install cargo-fuzz
          fi
          cargo fuzz run fuzz_target_1

      - name: Cache cargo-tarpaulin
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/cargo-tarpaulin
          key: ${{ runner.os }}-cargo-tarpaulin
          
      - name: Install tarpaulin
        # A code coverage tool for Rust projects
        # https://github.com/xd009642/tarpaulin
        run: |
          if ! [ -f ~/.cargo/bin/cargo-tarpaulin ]; then
            cargo install cargo-tarpaulin --locked
          fi

      - name: Measure code coverage
        # Skip removing executable before compilation so cli can be tested
        run: cargo tarpaulin --out xml --follow-exec --skip-clean

      - name: Upload code coverage to codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: cobertura.xml  # The name of the coverage report generated by tarpaulin
      
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@1a6d90ebcb0e6a6b1d87e37ba693fe453195ae25 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload coverage information to codacy
        # https://github.com/codacy/codacy-coverage-reporter-action
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: cobertura.xml

  packaging:
    name: Generate Build Artifacts
    permissions:
      contents: read

    strategy:
      matrix:
        # https://github.com/actions/runner-images
        os: [ubuntu-24.04, windows-2022, macos-14]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        # https://github.com/actions/checkout
        uses: actions/checkout@v5
        with:
          lfs: true
      
      - name: Pull LFS data
        # Checkout will only fetch the data but will not expand the files
        run: git lfs pull

      - name: Use stable Rust
        # Ensure that the following steps are using the stable toolchain
        run: rustup default stable
        
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-packaging-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-packaging-cargo-

      - name: Cache cargo-packager
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/cargo-packager
          key: ${{ runner.os }}-cargo-packager
          
      - name: Package to be installable
        # https://github.com/crabnebula-dev/cargo-packager
        run: |
          if ! [ -f ~/.cargo/bin/cargo-packager ]; then
            cargo install cargo-packager --locked
          fi
          cargo packager --release --verbose

      - name: Store package installer artifacts
        # https://github.com/actions/upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: installers-${{ matrix.os }}
          path: |
            packages/
            !packages/.cargo-packager
