# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Rust CI

on: [push, pull_request]

jobs:
  testing:
    # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        # https://github.com/actions/checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Pull LFS data
        # Checkout will only fetch the data but will not expand the files
        run: git lfs pull

      - name: Use stable Rust
        # Ensure that the following steps are using the stable toolchain
        run: rustup default stable

      - name: Install clippy
        run: rustup component add clippy

      - name: Run clippy
        # https://github.com/rust-lang/rust-clippy
        run: cargo clippy -- -D warnings

      - name: Build
        run: cargo build

      - name: Install tarpaulin
        # A code coverage tool for Rust projects
        # https://github.com/xd009642/tarpaulin
        run: cargo install cargo-tarpaulin --locked

      - name: Measure code coverage
        # Skip removing executable before compilation so cli can be tested
        run: cargo tarpaulin --out xml --follow-exec --skip-clean

      - name: Upload code coverage to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: cobertura.xml  # The name of the coverage report generated by tarpaulin
      
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload coverage information to codacy
        # https://github.com/codacy/codacy-coverage-reporter-action
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: cobertura.xml

  packaging:
    name: Generate Build Artifacts

    strategy:
      matrix:
        # https://github.com/actions/runner-images
        os: [ubuntu-24.04, windows-2022, macos-14]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        # https://github.com/actions/checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Pull LFS data
        # Checkout will only fetch the data but will not expand the files
        run: git lfs pull

      - name: Use stable Rust
        # Ensure that the following steps are using the stable toolchain
        run: rustup default stable

      - name: Package to be installable
        # https://github.com/crabnebula-dev/cargo-packager
        run: |
          cargo install cargo-packager --locked
          cargo packager --release --verbose

      - name: Store package installer artifacts
        # https://github.com/actions/upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: installers-${{ matrix.os }}
          path: |
            packages/
            !packages/.cargo-packager
